header {
  max-height: 50px;
}
p {
  color: #757575;
}

.web_ {
  color: #1480f4;
  font-family: "Raleway";
}
.studio_ {
  color: #000000;
  font-family: "Raleway";
}
.background-2 {
  background-color: #f5f4fa;
}

footer {
  background-color: #2f303a;
}
footer * {
  color: white;
}
.footer_a {
  color: #ffffff;
  opacity: 60%;
}
.web_footer {
  color: #1480f4;
  font-family: "Raleway";
}
.studio_footer {
  color: #ffffff;
  font-family: "Raleway";
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
}

.header_container {
  display: flex;
  width: 92%;
  align-items: center;
  justify-content: space-between;
}

.header_container--logo {
  display: flex;
}

.header_container_nav--list li:not(:last-child) {
  margin-right: 50px;
}

.header_container_nav--list li a:hover {
  color: #2196f3;
  transition: ease-in-out 0.3s;
}

.email {
  margin-right: 50px;
}
.telnum,
.email {
  color: #757575;
  transition: ease-in-out 0.3s;
}

.telnum:hover,
.email:hover {
  color: #2196f3;
}
.hero_container {
  width: 100%;
  height: 600px;
  background-color: #2f303a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}

.hero_title--title {
  display: block;
  color: #ffffff;
  font-family: "Roboto";
  max-width: 450px;
  text-align: center;
  margin-bottom: 30px;
}

.hero_button--button {
  background-color: #2196f3;
  color: #ffffff;
  display: inline-block;
  width: 216px;
  height: 50px;
  gap: 0px;
  border-radius: 4px;
  opacity: 0px;
}
.hero_title {
  display: block;
}
