@media screen and (max-width: 1200px) {
  .main {
    &_first {
      &-cards {
        display: grid;
        grid-template-columns: repeat(2, 369px);
        justify-content: center;
        gap: 40px;
      }
    }
  }
}

@media screen and (max-width: 810px) {
  .main {
    &_first {
      &-cards {
        display: grid;
        grid-template-columns: repeat(1, 369px);
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .main {
    &_nav {
      width: 600px;
      margin-bottom: 20px;
      &--wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        &--content {
          overflow: auto;
          width: 320px;
          padding: 10px 10px 10px 10px;
          &::-webkit-scrollbar {
            height: 10px;
          }
          &::-webkit-scrollbar-track {
            background-color: #2196f3;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background-color: #ffffff;
            border: 1px solid #25252525;
          }
        }
      }
    }
    &_first {
      &--cards {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .main {
    padding-top: 90px;
  }
}

@media screen and (max-width: 400px) {
  .main {
    .card {
      height: fit-content;
      margin: 0;
      img {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .main {
    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card {
      width: 300px;
      padding: 0 20px;
    }
  }
}
